canvas{border:1px solid black;display:block;}
*{font-family:sans-serif; color: #d4c2fc}
span{margin-right:2em;}
#distortionSlider{position:relative;top:.7em;}
#audioControls{
	display: inline;
}
#CanvasAndControls{
	display: inline;
	position: relative;
}
#mainCanvas{
	position: absolute;
}
#FullScreenToggle{
	width: 90px;
	height: 45px;
	position: absolute;
	text-overflow: ellipsis;

}
#AudioSelectorDiv{
	display: inline-block;
}
audio{
	position:fixed;
	bottom: 20px;
	left: 20px;
}
body{
	background-color: #323031;
}
h3{
	color: #72B01D;
}
button{
	color: #72B01D;
}