canvas{border:1px solid black;display:block;}
*{font-family:sans-serif;}
span{margin-right:2em;}
#distortionSlider{position:relative;top:.7em;}
#CanvasAndControls{
	position: relative;
}
#mainCanvas{
	position: absolute;
	width = 100%;
	height = 100%;
}
#FullScreenToggle{
	width: 90px;
	height: 45px;
	position: absolute;
	text-overflow: ellipsis;
	left: 20px;
	top: 20px;
}
#AudioSelectorDiv{
	display: inline-block;
}
audio{
	position:fixed;
	bottom: 20px;
	left: 20px;
}
body{
	background-color: gray;
}