.container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: minmax(100px,auto);
	grid-gap: 20px;
}
Canvas{
	border:1px solid black;
	grid-column: 2;
	grid-row-start: 2 ;
}
*{font-family: 'Fjalla One', sans-serif; color: orange}
.SpanToEdit{margin-right:2em;}
html,body{
	height: 100%;
}
#distortionSlider{position:relative;top:.7em;}
#distortionSliderP{position:relative;top:.7em;}
#audioControls{
	display: inline;
}
#CanvasAndControls{
	display: inline;
	position: relative;
}
#mainCanvas{
  position: absolute;
  margin-left: 100px;
  transition: all 0.5s ease;
}
#FullScreenToggle{
	width: 90px;
	height: 45px;
	position: absolute;
	text-overflow: ellipsis;

}
#AudioSelectorDiv{
	display: inline-block;
}
audio, #audioControls{
	position: fixed;
	bottom: 20px;
	right:20px;
}
body{
	background-color: #323031;
}
h3{
	color: orange;
}
button{
	color: orange;
	position: fixed;
	top: 20px;
  right:20px;
  border-radius: 4px;
  background-color: #323031;
}
h1{
	padding-top: 1%;
  color:white;
}
#titleText{
 	color: white;
 	margin-left: 100px;
  	transition: all 0.5s ease;
	grid-column: 1/10;
	grid-row: 1;
}

input[type=checkbox]{
	width: 24px;
  height: 24px;
  color: orange;
}
input[type=radio]{
	width: 24px;
  height: 24px;
  color: orange;
}
p{
	display: inline;
}
.red{
	color: red;
}
.green{
	color: green;
}
.blue{
	color: blue;
}


/*
	Hamburger Menu css from https://www.cssscript.com/basic-hamburger-toggle-menu-css-vanilla-javascript/
*/

.Control {
  transition: left 0.5s ease;
  background: #323031;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 20rem;
  z-index: 1;
}
.Control.expanded { left: 0; }
.Control ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.Control-toggle {
  user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 2rem;
  position: fixed;
  top: 2rem;
  width: 3.6rem;
  z-index: 2;
}

.Control-toggle:hover { opacity: 0.8; }

.Control-toggle .Control-toggle-bar,  .Control-toggle .Control-toggle-bar::after,  .Control-toggle .Control-toggle-bar::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  background: white;
  content: '';
  height: 0.4rem;
  width: 100%;
}

.Control-toggle .Control-toggle-bar { margin-top: 0; }

.Control-toggle .Control-toggle-bar::after { margin-top: 0.8rem; }

.Control-toggle .Control-toggle-bar::before { margin-top: -0.8rem; }

.Control-toggle.expanded .Control-toggle-bar { background: transparent; }

.Control-toggle.expanded .Control-toggle-bar::after, .Control-toggle.expanded .Control-toggle-bar::before {
  background: white;
  margin-top: 0;
}

.Control-toggle.expanded .Control-toggle-bar::after {
  transform: rotate(45deg);
}

.Control-toggle.expanded .Control-toggle-bar::before {
  transform: rotate(-45deg);
}